<template>
	<section>
  		<p>Proximamente TV show</p>
		<ul>
            <li>{{ program.name }}</li>
        </ul>
	</section>
</template>

<style>
</style>

<script>
    import { themoviedb } from "@/services/themoviedb";

export default {
    data: () => ({
        program: {}
    }),
    async mounted() {
        this.program = await themoviedb.getLatestTV();
    },
    methods: {}
}

</script>