<template>
	<section>
  		<p>Proximamente</p>
		<ul>
            <li>{{ latest.title }}</li>
        </ul>
	</section>
</template>

<style>
</style>

<script>
    import { themoviedb } from "@/services/themoviedb";

export default {
    data: () => ({
        latest: {}
    }),
    async mounted() {
        this.latest = await themoviedb.getLatestMovies();
        console.log("latest: ", this.latest);
    },
    methods: {}
}

</script>