<template>
	<div>
        <a href="/">Inicio</a>
        <a href="/movies">Peliculas</a>
        <a href="/tv-shows">TV Shows</a>
        <button @click="logout">Salir</button>
    </div>
</template>

<script>
    import { auth } from "@/services/firebase";
    import Cookie from "js-cookie";

    export default {
        methods: {
            async logout() {
                await auth.signOut(); // logout from firebse
                await Cookie.remove('access_token');

                // redirect to login
                this.$router.push("/login");
            }
        }
    }
</script>