<template>
	<section>
  		<p>Programas populares</p>
		<b-carousel
          id="carousel-1"
          v-model="slide"
          :interval="4000"
          controls
          background="#0000"
          style="text-shadow: 1px 1px 2px #333;"
          @sliding-start="onSlideStart"
          @sliding-end="onSlideEnd"
        >
            <b-carousel-slide img-blank v-for="programInterval in programs" :key="programInterval.id">
                <b-card v-for="program in programInterval.programs" overlay  :key="program.id"
                :img-src="`${imgBaseURL}${imageSize}${program.backdrop_path}`">
                    <b-card-text>
                    {{ program.name }}
                    </b-card-text>
                </b-card>
            </b-carousel-slide>
        </b-carousel>
	</section>
</template>

<script>
    import { themoviedb } from "@/services/themoviedb";

    export default {
        data: () => ({
            programs: [],
            imgBaseURL: "",
            imageSize: "w500",
            slide: 0,
            sliding: null,
        }),
        async mounted() {
            let programs = await themoviedb.getPopularTV();
            this.programs = this.getOrderedTV(programs);
            this.imgBaseURL = themoviedb.getImgBaseURL();
        },
        methods: {
            onSlideStart(slide) {
                this.sliding = true
            },
            onSlideEnd(slide) {
                this.sliding = false
            },
            /**
            * Return an array with 5 arrays of programs to each carousel page
            */
            getOrderedTV(programs) {

                let i = 0;
                let arrayTV = [];

                while (i < 20) {
                    let j = i + 4;
                    let intervalTV = programs.slice(i, j); // Get only 4 tv shows
                    let obj = {
                        id: i, // ID for key Vue List
                        programs: intervalTV
                    };
                    arrayTV.push(obj);
                    i = j;
                }

                return arrayTV;
            }
        }
    }
</script>

<style type="text/css">
    .card {
        width: 23.5% !important;
        float: left;
        margin-left: 0.75%;
        margin-right: 0.75%;
    }
    .carousel-caption {
        width: 90%;
        left: 5% !important;
        right: 5% !important;
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 6% !important;
    }
    .carousel-inner .carousel-item {
        height: 34vh;
    }
</style>