<template>
	<section>
  		<p>Proximos estrenos</p>
		<b-carousel
          id="carousel-1"
          v-model="slide"
          :interval="4000"
          controls
          background="#0000"
          style="text-shadow: 1px 1px 2px #333;"
          @sliding-start="onSlideStart"
          @sliding-end="onSlideEnd"
        >
            <b-carousel-slide img-blank v-for="movieInterval in movies" :key="movieInterval.id">
                <b-card v-for="movie in movieInterval.movies" overlay  :key="movie.id"
                :img-src="`${imgBaseURL}${imageSize}${movie.backdrop_path}`">
                    <b-card-text>
                    {{ movie.title }}
                    </b-card-text>
                </b-card>
            </b-carousel-slide>
        </b-carousel>
	</section>
</template>

<script>
    import { themoviedb } from "@/services/themoviedb";

    export default {
        data: () => ({
            movies: [],
            imgBaseURL: "",
            imageSize: "w500",
            slide: 0,
            sliding: null
        }),
        async mounted() {
            let movies = await themoviedb.getUpcomingMovies();
            this.movies = this.getOrderedMovies(movies);
            this.imgBaseURL = themoviedb.getImgBaseURL();
        },
        methods: {
            onSlideStart(slide) {
                this.sliding = true
            },
            onSlideEnd(slide) {
                this.sliding = false
            },
            getOrderedMovies(movies) {

                let i = 0;
                let arrayMovies = [];

                while (i < 20) {
                    let j = i + 4;
                    let intervalMovies = movies.slice(i, j); // Get only 4 movies
                    let obj = {
                        id: i, // ID for key Vue List
                        movies: intervalMovies
                    };
                    arrayMovies.push(obj);
                    i = j;
                }

                return arrayMovies;
            }
        }
    }
</script>

<style type="text/css">
    .card {
        width: 23.5% !important;
        float: left;
        margin-left: 0.75%;
        margin-right: 0.75%;
    }
    .carousel-caption {
        width: 90%;
        left: 5% !important;
        right: 5% !important;
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 6% !important;
    }
    .carousel-inner .carousel-item {
        height: 34vh;
    }
</style>