<template>
    <section>
        <h1>Moviex Movies</h1>
        <a href="/movies/search">Buscar</a>
        <main-menu/>

        <latest-movie/>
        <popular-movies/>
        <trending-movies/>
        <rating-movies/>
        <upcoming-movies/>
    </section>
</template>

<script>
    export default {
        head() {
            return {
                title: "Moviex - Peliculas"
            }
        }
    }
</script>

<style>
    section {
        background-color: black;
        color: white;
    }
</style>
