<template>
    <section>
        <h1>Busqueda movies</h1>
        <a href="/search">Buscar</a>
        <a href="/">Inicio</a>
        <a href="/movies">Peliculas</a>
        <a href="/tv-shows">TV Shows</a>
    </section>
</template>