<template>
  <div class="">
    <div class="bg">
      <div class="overlay"></div>
    </div>
    <Nuxt />
  </div>
</template>

<style>
/* Moviex background */
.bg {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background: url('https://cdn.wallpapersafari.com/85/8/sr2kC0.jpg') no-repeat center center fixed;
}
.overlay {
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}
</style>
