<template>
    <section>
        <h1>Moviex HOME</h1>
        <a href="/search">Buscar</a>
        <main-menu/>

        <latest-movie/>

        <popular-movies/>
        <onair-tvshows/>
        <rating-movies/>
        <popular-tvshows/>
        <trending-movies/>
        <rating-tvshows/>
        <upcoming-movies/>
    </section>
</template>

<script>
    export default {
        head() {
            return {
                title: "Moviex - Home"
            }
        }
    }
</script>

<style>
    section {
        color: white;
    }
</style>
