<template>
    <section class="login">
        <h1>Moviex</h1>
        <b-form @submit.prevent="login">
            <b-form-group label="Correo electrónico:" label-for="input-1" description="We'll never share your email with anyone else.">
                <b-form-input id="input-1" v-model="account.email" type="email" placeholder="Enter email" required></b-form-input>
            </b-form-group>
            <b-form-group label="Contraseña:" label-for="input-2">
                <b-form-input id="input-2" v-model="account.password" type="password" placeholder="Enter password" required></b-form-input>
            </b-form-group>
            <b-button type="submit" variant="danger">Ingresar</b-button>
        </b-form>
        <p v-if="isError">{{ errMsg }}</p>
    </section>
</template>

<script>

export default {
    data: () => ({
        account: {
            email: "",
            password: ""
        },
        isError: false,
        errMsg: ""
    }),
    methods: {
        login() {
            this.$store.dispatch('users/login', this.account).catch(error => {
                this.isError = true;
                this.errMsg = error.code;
            });

            // If was logged successfull redirect to homepage
            this.$router.push("/");
        }
    }
}

</script>

<style>
    .login {
        color: white;
        width: 500px;
        background-color: rgba(87, 84, 84, 0.3);
        padding: 20px;
        border-radius: 5px;

        /* position on layout*/
        position: relative;
        top: 20vh;
        margin-left: auto;
        margin-right: auto;
    }
</style>
