<template>
    <section>
        <h1>Moviex TV shows</h1>
        <a href="/tv-shows/search">Buscar</a>
        <main-menu/>

        <latest-tvshow/>
        <onair-tvshows/>
        <popular-tvshows/>
        <rating-tvshows/>
    </section>
</template>

<script>
    export default {
        head() {
            return {
                title: "Moviex - TV shows"
            }
        }
    }
</script>

<style>
    section {
        background-color: black;
        color: white;
    }
</style>
